* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Serif ;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}
header .brand, header .navigation .navigation-items a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease;
}
header .brand {
  font-size: 2em;
  font-weight: 1000;
  text-transform: uppercase;
}
header .navigation .navigation-items a {
  position: relative;
  font-size: 1em;
  font-weight: 500;
  margin-left: 30px;
}
header .navigation .navigation-items a:before {
  content: '';
  position: absolute;
  background: #ffffff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
}
header .navigation .navigation-items a:hover:before {
  width: 100%;
}
.navigation-items {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu {
  position: relative;
  left: 0;
  width: 200px; 
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
}
.dropdown-menu .dropdown-item {
  color: #000 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
section {
  padding: 100px 200px;
}

.Home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #516ca8;
}
.Home:before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.Home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 30px;
  display: none;
}
.Home .content.active{
  display: block;
}
.Home .content h1{
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 70px;
  margin-bottom: 40px;
}
.Home .content p{
  margin-bottom: 30px;
}
.Home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 10px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-10%);
}
.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3 ease;
}
.slider-navigation .nav-btn.active {
  background: #516ca8;
}
.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 35px;
}
.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}
.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.video-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 0.6s ease;
  transition-property: clip-path;
}

.container {
  position: relative;
  box-sizing: border-box;
  width: fit-content;
}
.mainbox {
  box-sizing: border-box;
  position: relative;
  width: 230px;
  height: 40px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  border-radius: 160px;
  background-color: rgb(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.checkbox:focus, .search_input {
  border: none;
  outline: none;
}
.checkbox:checked {
  right: 10px;
}
.checkbox:checked ~ .mainbox {
  width: 50px;
}
.checkbox:checked ~ .mainbox .search_input {
  width: 0;
  height: 0px;
}
.checkbox:checked ~ .mainbox .iconContainer {
  padding-right: 8px;
}
.checkbox {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 17px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  appearance: none;
}
.search_input {
  box-sizing: border-box;
  height: 100%;
  width: 170px;
  background-color: transparent;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1em;
  color: white;
  transition: all 0.3s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.search_input::placeholder {
  color: rgba(255, 255, 255, 0.776);
}
.iconContainer {
  box-sizing: border-box;
  padding-top: 5px;
  width: fit-content;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_icon {
  box-sizing: border-box;
  fill: white;
  font-size: 1.3em;
}

#checkbox {
  display: none;
  z-index: 3;
}
.toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  transition-duration: .5s;
  z-index: 3;
}
.bars {
  width: 50%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}
#bar2 {
  transition-duration: .8s;
}
#bar1 {
  width: 50%;
}
#bar2 {
  width: 75%;
}
#checkbox:checked ~ .toggle .bars {
  position: absolute;
  transition-duration: .5s;
}
#checkbox:checked ~ .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: .1s;
}
#checkbox:checked ~ .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: .5s;
}
#checkbox:checked ~ .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: .5s;
}
#checkbox:checked ~ .toggle {
  transition-duration: .5s;
  transform: rotate(180deg);
}

@media (max-width: 1040px){
  header {
    padding: 12px 20px;
  }
  section {
    padding: 100px 20px;
  }
  header .navigation {
    display:none;
  }
  header .navigation.active {
    position: fixed;
    width: 100%; 
    height: 100vh;
    top: 0; 
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(1, 1, 1, 0.5);
  }
  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }
  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }
  header .navigation.active .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    z-index: 1;
  }
}
@media (min-width: 1041px) {
  header .navigation {
    display: flex !important; /* Override the display property */
  }
    .toggle {
    display: none;
  }
}